<%= form_for(@cameo) do |f| %>
  <% if @cameo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cameo.errors.count, "error") %> prohibited this cameo from being saved:</h2>

      <ul>
      <% @cameo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item_id %><br>
    <%= f.text_field :item_id %>
  </div>
  <div class="field">
    <%= f.label :outfit_id %><br>
    <%= f.text_field :outfit_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
