<h1>Listing cameos</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Outfit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cameos.each do |cameo| %>
      <tr>
        <td><%= cameo.item %></td>
        <td><%= cameo.outfit %></td>
        <td><%= link_to 'Show', cameo %></td>
        <td><%= link_to 'Edit', edit_cameo_path(cameo) %></td>
        <td><%= link_to 'Destroy', cameo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cameo', new_cameo_path %>
