<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @cameo.item %>
</p>

<p>
  <strong>Outfit:</strong>
  <%= @cameo.outfit %>
</p>

<%= link_to 'Edit', edit_cameo_path(@cameo) %> |
<%= link_to 'Back', cameos_path %>
