<%= render 'layouts/header' %>
<body class = "outfits">

<% if !@selected_dress_code %>
<br/>
  <h3>What are you dressing up for today?</h3>
  <%= form_tag(generate_path, method: "get") do %>
    <%= select_tag(:dress_code, options_for_select(@dress_codes_uniq)) %>
    <%= submit_tag("Let's Go!") %>
  <% end %>
  <%= link_to("Back to Dashboard", dashboard_path(id: @user.id)) %>
<% else %>
  <% if @new_outfit_top %>
    <strong>Top:</strong><img src="<%= @new_outfit_top[:img_url] %>" style="max-height: 400px; max-width: 400px;"/><br>
    <strong>Bottom:</strong><img src="<%= @new_outfit_bottom[:img_url] %>" style="max-height: 400px; max-width: 400px;" /><br>
  <% else %>
    <strong>One piece:</strong><img src="<%= @new_outfit_onepiece[:img_url] %>" style="max-height: 400px; max-width: 400px;"/><br>
  <% end %>
  <strong>Shoes:</strong><img src="<%= @new_outfit_shoes[:img_url] %>" style="max-height: 400px; max-width: 400px;"/><br>
  <strong>Accessory:</strong><img src="<%= @new_outfit_accessory[:img_url] %>" style="max-height: 400px; max-width: 400px;"/><br>
  <%= form_tag(new_user_outfit_path, method: "get") do %>
    <% if @new_outfit_onepiece %>
      <% hidden_field_tag "item_id", @new_outfit_onepiece[:id]%>
    <% else %>
      <% hidden_field_tag "item_id", @new_outfit_top[:id]%>
      <% hidden_field_tag "item_id", @new_outfit_bottom[:id]%>
    <% end %>
    <% hidden_field_tag "item_id", @new_outfit_shoes[:id]%>
    <% hidden_field_tag "item_id", @new_outfit_accessory[:id]%>
    <%= submit_tag("Like") %>
  <% end %>

  <%= link_to("Dislike & Show Me Another", generate_path) %><br>
  <%= link_to("Back", dashboard_path(id: @user.id)) %>
<% end %>

</body>
