<%= render 'layouts/header' %>
<body class = "outfits">

<div id="outfit-generate">
  <div id="generate-items">
  <% if !@selected_dress_code %>
    <br/>
      <h3>What are you dressing up for today?</h3>
      <%= form_tag(generate_path, method: "get") do %>
        <%= select_tag(:dress_code, options_for_select(@dress_codes_uniq), { :style => 'font-size:100px' }) %>
        <%= image_submit_tag "go-button.png", :id => "go-button" %>
      <% end %>
      <%= link_to(dashboard_path(id: @user.id), relative: true) do %>
        <%= image_tag('back-button.png', width: '50', height: '50', alt: 'Back', padding: '10px') %>
      <% end %>
    <% else %>
      <% if @new_outfit_top %>
        <div id="new-outfit-top" class="new-outfit-item">
          <p><strong>Top</strong></p>
          <img src="<%= @new_outfit_top[:img_url] %>" />
        </div>
        <div id="new-outfit-bottom" class="new-outfit-item">
          <p><strong>Bottom</strong></p>
          <img src="<%= @new_outfit_bottom[:img_url] %>" />
        </div>
      <% else %>
        <div id="new-outfit-onepiece" class="new-outfit-item">
          <p><strong>One piece</strong></p>
          <img src="<%= @new_outfit_onepiece[:img_url] %>" />
        </div>
      <% end %>
      <div id="new-outfit-shoes" class="new-outfit-item">
        <p><strong>Shoes</strong></p>
        <img src="<%= @new_outfit_shoes[:img_url] %>" />
      </div>
      <div id="new-outfit-accessory" class="new-outfit-item">
        <p><strong>Accessory</strong></p>
        <img src="<%= @new_outfit_accessory[:img_url] %>" /><br>
      </div>
      <div style="clear: both;">
  </div>
  <div id="generate-choice">
    <%= form_tag(new_user_outfit_path, method: "get") do %>
      <% if @new_outfit_onepiece %>
        <% hidden_field_tag "item_id", @new_outfit_onepiece[:id]%>
      <% else %>
        <% hidden_field_tag "item_id", @new_outfit_top[:id]%>
        <% hidden_field_tag "item_id", @new_outfit_bottom[:id]%>
      <% end %>
      <% hidden_field_tag "item_id", @new_outfit_shoes[:id]%>
      <% hidden_field_tag "item_id", @new_outfit_accessory[:id]%>
      <% image_submit_tag "heart-button.png", :id => "like-button" %>
    <% end %>

    <%= link_to(generate_path, relative: true) do %>
      <%= image_tag('cross-button.png', width: '50', height: '50', alt: 'Dislike') %>
    <% end %>
    <%= link_to(dashboard_path(id: @user.id), relative: true) do %>
      <%= image_tag('back-button.png', width: '50', height: '50', alt: 'Back') %>
    <% end %>

  <% end %>
  </div>
</div>

</body>
