<h1>Listing outfits</h1>

<table>
  <thead>
    <tr>
      <th>Dress code</th>
      <th>Top</th>
      <th>Bottom</th>
      <th>One piece</th>
      <th>Shoes</th>
      <th>Accessory</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @outfits.each do |outfit| %>
      <tr>
        <td><%= outfit.dress_code %></td>
        <td><%= outfit.top %></td>
        <td><%= outfit.bottom %></td>
        <td><%= outfit.one_piece %></td>
        <td><%= outfit.shoes %></td>
        <td><%= outfit.accessory %></td>
        <td><%= outfit.user %></td>
        <td><%= link_to 'Show', outfit %></td>
        <td><%= link_to 'Edit', edit_outfit_path(outfit) %></td>
        <td><%= link_to 'Destroy', outfit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Outfit', new_outfit_path %>
