<%= render 'layouts/header' %>
<body class="outfits">
  <div id="outfit-index" class="general-page">
    <br>
    <br>
    <h1><%= @user.name %>'s Fav Outfits</h1>
    <br>
    <ul id="outfit-list">
        <% @user.outfits.each do |outfit| %>
          <li>
          <%= link_to outfit.name, user_outfit_path(outfit.user_id, outfit.id) %>
          </li>
        <% end %>
    </ul>
    <br>
    <br>
    <%= link_to(dashboard_path(id: @user.id), relative: true) do %>
      <%= image_tag('back-button.png', width: '50', height: '50', alt: 'Back', :class => 'cust_button') %>
    <% end %>
  </div>
</body>
