<p id="notice"><%= notice %></p>

<p>
  <strong>Dress code:</strong>
  <%= @outfit["dress_code"] %>
</p>
 <% if @outfit.has_key?("top") %>
<p>
  <strong>Top:</strong>
  <%= @outfit["top"] %>
</p>

<p>
  <strong>Bottom:</strong>
  <%= @outfit["bottom"] %>
</p>
<% else %>
<p>
  <strong>One piece:</strong>
  <%= @outfit["one_piece"] %>
</p>
<% end %>
<p>
  <strong>Shoes:</strong>
  <%= @outfit["shoes"]%>
</p>

<p>
  <strong>Accessory:</strong>
  <%= @outfit["accessory"] %>
</p>


<%= link_to 'Edit', edit_outfit_path(@outfit) %> |
<%= link_to 'Back', outfits_path %>


