<%= render 'layouts/header' %>

<body class="outfits">
  <div id="outfit-show">
    <h1><%= @outfit.name %></h1>
    <div class="generate-items">
        <% @outfit.cameos.each do |cameo| %>
          <div class="new-outfit-item">
            <p><strong><%= Item.find(cameo.item_id).name %></strong></p>
            <img src="<%= Item.find(cameo.item_id).img_url %>">
            <br>
            <br>
          </div>
        <% end %>

      <div style="clear: both;">
    </div>
    <br>

    <%= button_to("Delete", user_outfit_path, :method => :delete) %>

    <%= link_to(user_outfits_path, relative: true) do %>
      <%= image_tag('back-button.png', width: '50', height: '50', alt: 'Back', padding: '10px', :class => "cust_button") %>
    <% end %>
  </div>
</body>


