<%= render 'layouts/header' %>

<div class="front-matter">
  <h1>Update Your Profile's Password</h1>

  <%= form_for(@user, url: { action: 'update_password' }) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <p><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</p>
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li style="color: red"><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="actions">
      <p>
        <%= f.label(:old_password, 'Old Password') %><br/>
        <%= f.password_field(:old_password) %><br/>
      </p>
      <p>
        <%= f.label(:password, 'New Password') %><br/>
        <%= f.password_field(:password) %><br/>
        <%= f.label(:password_confirmation, 'Confirmation') %><br/>
        <%= f.password_field(:password_confirmation) %><br/>
      </p>

      <p><%= f.submit %></p>
    </div>
  <% end %>

  <p>
    <span><%= link_to('Update Profile',  edit_user_path(@user)) %></span> &nbsp;
    <span><%= link_to('Back to Home',    user_path(current_user)) %></span> &nbsp;
  </p>
</div>
