<p>Welcome, <%= @user.name %>!</p>

<select name="dress code">
  <option value="work">Work</option>
  <option value="school">School</option>
  <option value="date">Date Night</option>
  <option value="night">Night Out</option>
  <option value="lounge">Lounge</option>
  <option value="other">Other</option>
  <option value="work">Work</option>
</select>
<div><%= link_to("Dress Me Up!", generate_path(user_id: @user.id)) %></div>
<div><%= link_to("Show Fav Outfits!", user_outfits_path(user_id: @user.id)) %></div>
<div><%= link_to("Show Me My Closet!", user_items_path(user_id: @user.id)) %></div>
<div><%= link_to("View My Profile!", user_path(user_id: @user.id)) %></div>
