<%= render 'layouts/header' %>

<div id="edit-item">
  <h1>Editing item</h1>

  <%= render 'form' %>

  <%= link_to 'Show', user_item_path(@item.user_id, @item.id) %> |

  <%= link_to(user_items_path, relative: true) do %>
    <%= image_tag('back-button.png', width: '50', height: '50', alt: 'Back') %>
  <% end %>
</div>
