<%= render 'layouts/header' %>

<div id="edit-item">
  <h1>Editing item</h1>

  <%= render 'form' %>


  <%= link_to(user_item_path(@item.user_id, @item.id), relative: true) do %>
    <%= image_tag('index-button.png', width: '50', height: '50', alt: 'Back', :class => "cust_button") %>
  <% end %>

  <%= link_to(user_items_path, relative: true) do %>
    <%= image_tag('back-button.png', width: '50', height: '50', alt: 'Back', :class => "cust_button") %>
  <% end %>
</div>
