<p id="notice"><%= notice %></p>

<p>
  <strong>Img url:</strong>
  <%= @item.img_url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<p>
  <strong>Color:</strong>
  <%= @item.color %>
</p>

<p>
  <strong>Size:</strong>
  <%= @item.size %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @item.brand %>
</p>

<p>
  <strong>Purchased from:</strong>
  <%= @item.purchased_from %>
</p>

<p>
  <strong>User:</strong>
  <%= @item.user %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
