<%= render 'layouts/header' %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Img url:</strong>
  <img src="<%= @item.img_url %>">
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<p>
  <strong>Color:</strong>
  <%= @item.color %>
</p>

<p>
  <strong>Size:</strong>
  <%= @item.size %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @item.brand %>
</p>

<p>
  <strong>Purchased From:</strong>
  <%= @item.purchased_from %>
</p>

<%= link_to("Edit", edit_user_item_path(@item.user_id, @item.id)) %>
<%= link_to("Back", user_items_path) %>
<%= button_to("Delete", user_item_path, :method => :delete) %>


