<%= render 'layouts/header' %>
<center>

  <body class = "closet">

    <p id="notice"><%= notice %></p>


    <p>
      <strong><%= @item.name %></strong>

    </p>

    <p>
      <img src="<%= @item.img_url %>" style="max-height: 400px; max-width: 400px; border: 1px solid #; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px;">
    </p>


    <p>
      <strong>Category:</strong>
      <%= @item.category %>
    </p>

    <p>
      <strong>Color:</strong>
      <%= @item.color %>
    </p>

    <p>
      <strong>Size:</strong>
      <%= @item.size %>
    </p>

    <p>
      <strong>Brand:</strong>
      <%= @item.brand %>
    </p>

    <p>
      <strong>Purchased From:</strong>
      <%= @item.purchased_from %>
    </p>


    <%= link_to(edit_user_item_path(@item.user_id, @item.id), relative: true) do %>
      <%= image_tag('pencil-button.png', width: '50', height: '50', alt: 'Back', :class => "cust_button") %>
    <% end %>

    <%= link_to(user_items_path, relative: true) do %>
      <%= image_tag('back-button.png', width: '50', height: '50', alt: 'Back', :class => "cust_button") %>
    <% end %>

    <%= button_to("Delete", user_item_path, :method => :delete) %>

  </body>
</center>
